

.card_main{
    display: flex;
    justify-content: space-between;
 }

.card_body{
    background-color:var(--primary-color);
    box-shadow: 0px 4px 15px rgba(236,112,0,0.3); 
    width: 190px; 
    height: 111px;
}
.card_title{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.card_valor{
    
}


.card_title{
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.card_valor{
    font-size: 32px;
    color: #ffff;
}

